@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name)
}

@mixin flex-center($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($font-color, 100%);
    }
}

body{
    background-color: $primary-color;
    color: $font-color;

    font-weight: weight(regular);
}

.main{
    @include flex-center(row);

    width: 80%;
    margin: auto;

    &__paragraph{
        text-align: center;

        &:hover{
            color: pink;
        }
    }
}

.light{
    @include theme($light-theme:false);
}